---
import Button from "../components/Button.astro";
const { data, num, all } = Astro.props;
const boxes = [...Array(data.boxes)]
const { customClass } = data
---

<section data-extra={data.isExtra && "true"} data-exercise-key={num} class={customClass || null}>
        <h2 class="small-label">Øvelse {num} af {all}</h2>

        {data.isExtra && (
            <div class="banner" data-banner-title="Ekstra"></div>
        )}

        <article class="exercise-details">
          {data.isVideoThumb ? (
                <video muted loop autoplay playsinline preload="metadata">
                    <source src={data.image} type="video/mp4" />
                </video>
            ) : (
                <img loading="lazy" src={data.image} alt={data.title}>
            )
          }
          <div class="exercise-content">
            <h3>{data.title}</h3>

            {data.astro.html}

            {data.hints ? (
                <details>
                    <summary>Hints</summary>
                    <ul class="hints">
                        {data.hints.map(hint=>{
                            return <li data-type={hint?.type}><code>{hint?.name}</code> ({hint?.type})</li>      
                        })}
                    </ul>
                </details>
            ) : (
                <div data-no-hints>Ingen hints</div>
            )}
          </div>
        </article>

        
        {data.canAddBoxes && (
            <div class="controls">
                <div>
                    <Button icon="plus" label="Tilføj boks" />
                    <Button icon="minus" label="Fjern boks" />
                </div>
            </div>
        )}

        <article class="output">
          <div class="container">
              {boxes.map((_,index)=><div class={`box box-${index+1}`} contenteditable></div>)}
          </div>
        </article>

        <div class="editor">
          <button class="reset">
            <span class="visually-hidden">Reset</span>
            <svg aria-hidden="true" width="15" height="15">
              <use href="#reset-icon">
            </svg>
          </button>
          <textarea autocorrect="off" autocomplete="off" spellcheck="false" autocapitalize="off" class="prism-live language-css">{data.startingCSS.trim()}</textarea>
          <style class="style"></style>
        </div>
      </section>