---
import Button from "../components/Button.astro";
const { data, num, all } = Astro.props;
const boxes = [...Array(data.boxes)]
const { customClass } = data
---

<section data-extra={data.isExtra && "true"} data-exercise-key={num} class={customClass || null}>
        <h2 class="small-label">Øvelse {num} af {all}</h2>

        {data.isExtra && (
            <div class="banner" data-banner-title="Ekstra"></div>
        )}

        <article class="exercise-details">
          {data.isVideoThumb ? (
                <video muted loop autoplay playsinline preload="metadata">
                    <source src={data.image.path} type="video/mp4" />
                </video>
            ) : (
                <img loading="lazy" src={data.image.path} alt={data.title} width="{data.image.width}" height="{data.image.height}">
            )
          }
          <div class="exercise-content">
            <h3>{data.title}</h3>

            {data.astro.html}

            {data.hints ? (
                <details>
                    <summary>Hints</summary>
                    <ul class="hints">
                        {data.hints.map(hint=>{
                            return <li data-type={hint?.type}><code>{hint?.name}</code> ({hint?.type})</li>      
                        })}
                    </ul>
                </details>
            ) : (
                <div data-no-hints>Ingen hints</div>
            )}
          </div>
        </article>

        
        {data.canAddBoxes && (
            <div class="controls">
                <div>
                    <Button icon="plus">Tilføj boks</Button>
                    <Button icon="minus">Fjern boks</Button>
                </div>
            </div>
        )}

        <article class="output">
          <div class="container">
              {boxes.map((_,index)=><div class={`box box-${index+1}`}></div>)}
          </div>
        </article>

        <div class="editor">
          <div class="reset-buttons">
            <button class="reset">
              <span class="visually-hidden">Nulstil</span>
              <svg aria-hidden="true" width="15" height="15">
                <use href="#reset-icon">
              </svg>
            </button>
            <div class="button-group-confirm">
              <button data-accept="true" data-message="Accepter">
              <span class="visually-hidden">Accepter nulstilling</span>
                <svg aria-hidden="true" width="18" height="18">
                  <use href="#accept">
                </svg>
              </button>
              <button data-accept="false" data-message="Afvis">
              <span class="visually-hidden">Afvis nulstilling</span>
                <svg aria-hidden="true" width="18" height="18">
                  <use href="#reject">
                </svg>
              </button>
            </div>
          </div>
          <textarea aria-label="Write here" autocorrect="off" autocomplete="off" spellcheck="false" autocapitalize="off" class="prism-live language-css">{data.startingCSS.trim()}</textarea>
          <style class="style"></style>
        </div>
      </section>


      <style>
        .reset-buttons {
          position: absolute;
          inset-inline-end: 0;
          inset-block-start: 0.25em;
          z-index: 1;
          display: grid;
          gap: 0 .4ch;
          place-items: end;
          margin-inline-end: 0.25em;
        }

        .reset-buttons > * {
          grid-area: 1 / 1;
        }

        .button-group-confirm {
          display: flex;
          gap: .5ch;
          pointer-events: none;
          opacity: 0;
          transition: .3s opacity;
        }

        .reset-buttons.active .button-group-confirm {
          opacity: 1;
          pointer-events: auto;
        }

        .reset-buttons.active > button {
          opacity: 0;
          pointer-events: none;
        }

        button[data-accept] {
          --btn-stroke: 0;
          --btn-theme: #fb28a8;
          position: relative;
          color: #fff;
          padding: 0;
          inline-size: 25px;
          block-size: 25px;
          background: transparent;
          display: grid;
          place-content: center;
        }

        @media (hover: hover) {
          button:hover {
            --btn-stroke: 2px;
          }
        }
      </style>